node_modules
public
.tmp
.idea
client/bower_components
dist
cache
build
NWbuild
/server/config/local.env.js
.idea
*.log

GGC-data/

*.zip

client/app/vars.css
*.old.webm

*.webm

client/app/game/end.html

client/vid
