//@charset "UTF-8";
//.scenario-card-0 {
//  height:250px;
//  width: 550px;
//  border-radius:20px;
//  background-color:rgba(0,0,0,0.25);
//  color:white;
//  padding:20px;
//  margin:10px;
//  margin-top:375px;
//  transform: perspective(1000px) rotateY(25deg);
//  transform-style: preserve-3d;
//  float:left;
//  position:relative;
//  margin-left:00px;
//  z-index:100;
//}
//
//.scenario-card-1 {
//  height:250px;
//  width: 550px;
//  border-radius:20px;
//  background-color:rgba(0,0,0,0.25);
//  color:white;
//  padding:20px;
//  margin:10px;
//  margin-top:375px;
//  transform: perspective(1000px) rotateY(-25deg);
//  transform-style: preserve-3d;
//  float:left;
//  position:relative;
//  margin-left:-70px;
//  z-index:100;
//}
//
//.vote-block {
//  margin-top:70px;
//}
//
//
//
//.scenario-icon {
//  width:30%;
//  height:100%;
//  float:left;
//  margin-right:5%;
//  margin-left:0%;
//}
//
//
//@font-face {
//  font-family: '232MKB';
//  src: url('../../assets/fonts/232MKSD_winTT/232MKB__.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//}
//
//@font-face {
//  font-family: '232MKUL';
//  src: url('../../assets/fonts/232MKSD_winTT/232MKUL_.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//}
//
//@font-face {
//  font-family: 'Icons';
//  src: url('../../assets/fonts/open-iconic.svg#Icons') format('svg'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//          /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//        }
//
//@font-face {
//  font-family: 'symbolsttf';
//  src: url('../../assets/fonts/open-iconic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
//}
//
//#Layer_1 {
//  pointer-events: none;
//}
//
//body {
//	width:1920px;
//	height:1200px;
//	margin:0;
//}
//div#main {
//	position: relative;
//	width:1920px;
//	height:1200px;
//	background:url("../../bmp/gulfclear.jpg") no-repeat;
//}
//div#perspective_plane_container {
//	position:absolute;
//	-webkit-perspective: 642;
//	width:1920px;
//	height:1200px;
//	top:0px;
//}
//div#perspective_plane {
//	position:absolute;
//	-webkit-transform: rotateX(15deg);
//	-webkit-transform-style: preserve-3d;
//	z-index:0;
//}
//
//@-webkit-keyframes turnin {
//	from { -webkit-transform: rotateX(0deg); }
//	to { -webkit-transform: rotateX(70deg); }
//}
//
//#hexMatrix {
//
//	opacity:.25;
//	z-index:-500;
//  pointer-events: none;
//
//}
//
//div.topPlane, div.bottomPlane {
//  position:absolute;
//  width:375px;
//  height:450px;
//  /*opacity:.2;*/
//}
//div.topPlane {
//  /*border:white solid 1px;*/
//  background:url("../../svg/paneltopA9.svg") 50% 0%  no-repeat;
//  -webkit-transform: translateZ(25px); /* Chrome, Safari, Opera */
//}
//
//div.bottomPlane {
//  /*border:blue solid 1px;*/
//  background:url("../../svg/panelbottom3.svg") 50% 0%    no-repeat;
//  -webkit-transform: translateZ(10px); /* Chrome, Safari, Opera */
//}
//
//div.panelOuterenvironment, div.panelOutereconomy, div.panelOuterenergy {
//	position:absolute;
//	width:375px;
//	height:300px;overflow:hidden;
//	-webkit-transform-style: preserve-3d;
//	z-index:10;
//	/*border:black solid 1px;*/
//	overflow:hidden;
//}
//.panelInnerEnvironment, .panelInnerEconomy, .panelInnerEnergy {
//	position:absolute;
//	width:375px;
//	height:350px;
//			/*top:0px;
//	top:220px;*/
//
//	top:200px;
//
//	-webkit-transform-style: preserve-3d;
//	transition: all .2s  ease-in-out;/**/
//}
//.panelInnerenvironment.extended, .panelInnereconomy.extended, .panelInnerenergy.extended {
//		top:0px;
//}
//
//div.panelOuterenvironment {
//left: 360px;
//top: 718px;
//-webkit-transform: rotateZ(29deg);
//  transition: all .2s  ease-in-out;
//}
//div.panelOuterenvironment.retract {
//  left: 260px;
//  top: 888px;
//  -webkit-transform: rotateZ(29deg);
//  transition: all .2s  ease-in-out;
//}
//div.panelOutereconomy {
//	left:775px;
//	/*top:800px;*/
//	top:825px;
//  transition: all .2s  ease-in-out;
//}
//div.panelOutereconomy.retract {
//  left:775px;
//  /*top:800px;*/
//  top:1020px;
//  transition: all .2s  ease-in-out;
//}
//
//div.panelOuterenergy {
//  right: 355px;
//  top: 718px;
//  -webkit-transform: rotateZ(-29deg);
//  transition: all .2s  ease-in-out;
//}
//div.panelOuterenergy.retract {
//  right: 285px;
//  top: 900px;
//  -webkit-transform: rotateZ(-29deg);
//  transition: all .2s  ease-in-out;
//}
//.colorbar {
//	position:relative;
//	width:330px;
//	height:12px;
//	border-radius:6px;
//	margin:30px auto;
//}
//
//.colorbar h3 {
//	position: relative;
//	width: 150px;
//	height: 20px;
//	border-radius: 6px;
//	margin: 0 auto;
//	top: -4px;
//	background: #233;
//	text-align: center;
//	font-size: 15px;
//	letter-spacing:.5px;
//	font-stretch: expanded;
//	padding-top:1px;
//	font-family: "232MKSD", Helvetica, Arial, sans-serif;
//}
//
//.panelOuterenvironment .colorbar { background:#2fd418; }
//.panelOutereconomy .colorbar { background:#fca204; }
//.panelOuterenergy .colorbar { background:#4e4efc; }
//.panelOuterenvironment h3 { border:#c8e893 solid 1px; color:#c8e893; text-shadow: 0 0 3px #c8e893; }
//.panelOutereconomy h3 { border:#fbcd6d solid 1px; color:#fbcd6d; }
//.panelOuterenergy h3 { border:#a8aefa solid 1px; color:#a8aefa; }
//
//div#mapA, div#mapB, div#borderscrim {
//	width:1920px;
//	height:1200px;
//	position:absolute;
//}
//div#mapA {
//	background-image: url('../../bmp/currentpop.png');
//}
//div#borderscrim {
//	background-image: url('../../bmp/borderandscrim.png');
//	z-index:15;
//	pointer-events:none;
//}
//
//
