/**
 * App-wide Styles
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'eurostile-extended';
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  width: 1920px;
  height: 1920px;
  overflow: hidden;
}
.navbar-default form {
  border-color: inherited;
}
.preview {
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all linear 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 1;
}
.relative {
  position: relative;
}
.preview.ng-enter {
  opacity: 1;
}
.preview.ng-hide {
  opacity: 0;
  top: 100vh;
}
