@charset "UTF-8";
.bottomPlane {
  padding-left: 3em;
  padding-right: 3em;
}
.tab-title {
  font-family: 'eurostile-condensed';
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), -2px 4px 4px black;
  color: #d6f9f2;
}
.tab-body {
  font-family: 'eurostile-condensed';
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
p.tab-body {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 12px;
}
.tab-img {
  height: 50%;
  width: 50%;
  margin-left: 45px;
}
.btn-icon {
  background: url("../../svg/buttonOL.svg") 50% 50% no-repeat;
  width: 100px;
  height: 50px;
  padding: 35px;
  margin: 10px;
  position: relative;
  top: 90px;
}
.btn-icon.block {
  background-size: 124px 82px;
}
.btn-icon.pass {
  background-size: 114px 82px;
}
.btn-icon.selected.block {
  background: url("../../svg/buttonBLOCK.svg") 50% 50% no-repeat;
  background-size: 124px 82px;
}
.btn-icon.selected.pass {
  background: url("../../svg/buttonPASS.svg") 50% 50% no-repeat;
  background-size: 114px 82px;
}
.btn-icon.ng-hide-add,
.my-element.ng-hide-remove {
  /*transition: 0.25s linear all;*/
}
.btn-icon.ng-hide {
  display: inline!important;
  opacity: 0.25;
  -webkit-transform: rotateX(180deg);
  color: grey;
}
.environment i,
.environment a {
  color: #2fd418;
}
.environment .colorbar {
  background-color: #41bc30;
}
.energy i,
.energy a {
  color: #4e4efc;
}
.energy .colorbar {
  background-color: #6060ea;
}
.economy i,
.economy a {
  color: #fca204;
}
.economy .colorbar {
  background-color: #e39b1d;
}
/*.panelOuterenvironment .colorbar { background:#2fd418; }
.panelOutereconomy .colorbar { background:#fca204; }
.panelOuterenergy .colorbar { background:#4e4efc; } */
.tab-img-vote {
  height: 30%;
  width: 30%;
  margin-left: 30px;
  margin-right: 15px;
  float: left;
}
.panelInnerEnvironment,
.panelInnerEconomy,
.panelInnerEnergy {
  position: absolute;
  width: 375px;
  height: 350px;
  /*top:0px;
top:220px;*/
  top: 200px;
  -webkit-transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
  /**/
}
.panelInnerenvironment .extended,
.panelInnereconomy .extended,
.panelInnerenergy .extended {
  top: 0;
}
@font-face {
  font-family: '232MKB';
  src: url('../../assets/fonts/232MKSD_winTT/232MKB__.TTF') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: '232MKUL';
  src: url('../../assets/fonts/232MKSD_winTT/232MKUL_.TTF') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
div.topPlane,
div.bottomPlane {
  position: absolute;
  width: 375px;
  height: 450px;
  /*opacity:.2;*/
}
div.topPlane {
  /*border:white solid 1px;*/
  background: url("../../svg/paneltop_n.svg") 50% 0 no-repeat;
  -webkit-transform: translateZ(25px);
  /* Chrome, Safari, Opera */
}
div.bottomPlane {
  /*border:blue solid 1px;*/
  background: url("../../svg/panelbottom_n.svg") 50% 0 no-repeat;
  -webkit-transform: translateZ(10px);
  /* Chrome, Safari, Opera */
}
div.panelInnerEnvironment,
div.panelInnerEconomy,
div.panelInnerEnergy {
  position: absolute;
  width: 375px;
  height: 350px;
  -webkit-transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
}
.panelOuterenvironment h3 {
  border: #c8e893 solid 1px;
  color: #c8e893;
  text-shadow: 0 0 3px #c8e893;
}
.panelOutereconomy h3 {
  border: #fbcd6d solid 1px;
  color: #fbcd6d;
}
.panelOuterenergy h3 {
  border: #a8aefa solid 1px;
  color: #a8aefa;
}
.score {
  font-family: "Glyphicons Halflings";
}
.score .up {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), -2px 4px 4px white;
}
.score .down {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9), -2px 4px 4px black;
}
.score .zilch {
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.9), -2px 4px 4px grey;
}
.score .down {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9), -2px 4px 4px black;
}
.score.environment {
  color: #2fd418;
}
.score.economy {
  color: #fca204;
}
.score.energy {
  color: #4e4efc;
}
.panelOuter {
  position: absolute;
  width: 375px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  z-index: 10;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.panelOuter.environment {
  left: 400px;
  top: 700px;
  -webkit-transform: rotateZ(29deg);
  transition: all 0.2s ease-in-out;
}
.panelOuter.environment.retract {
  left: 300px;
  top: 870px;
  -webkit-transform: rotateZ(29deg);
  transition: all 0.2s ease-in-out;
}
.panelOuter.environment i,
.panelOuter.environment a {
  color: #2fd418;
}
.panelOuter.environment .colorbar {
  background-color: #41bc30;
}
.panelOuter.environment .colorbar > h3 {
  color: #82d177;
  border: #82d177 solid 1px;
  text-shadow: 0 0 2px black;
}
.panelOuter.economy {
  left: 775px;
  top: 793px;
  transition: all 0.2s ease-in-out;
}
.panelOuter.economy.retract {
  left: 775px;
  top: 990px;
  transition: all 0.2s ease-in-out;
}
.panelOuter.economy i,
.panelOuter.economy a {
  color: #fca204;
}
.panelOuter.economy .colorbar {
  background-color: #e39b1d;
}
.panelOuter.economy .colorbar > h3 {
  color: #e5bd77;
  border: #e5bd77 solid 1px;
  text-shadow: 0 0 2px black;
}
.panelOuter.energy {
  right: 395px;
  top: 695px;
  -webkit-transform: rotateZ(-29deg);
  transition: all 0.2s ease-in-out;
}
.panelOuter.energy.retract {
  right: 310px;
  top: 875px;
  -webkit-transform: rotateZ(-29deg);
  transition: all 0.2s ease-in-out;
}
.panelOuter.energy i,
.panelOuter.energy a {
  color: #4e4efc;
}
.panelOuter.energy .colorbar {
  background-color: #6060ea;
}
.panelOuter.energy .colorbar > h3 {
  color: #b6b6f0;
  border: #b6b6f0 solid 1px;
  text-shadow: 0 0 2px black;
}
.colorbar {
  position: relative;
  width: 300px;
  height: 12px;
  border-radius: 6px;
  margin: 30px auto;
}
.colorbar h3 {
  position: relative;
  width: 150px;
  height: 20px;
  border-radius: 6px;
  margin: 0 auto;
  top: -4px;
  background: #233;
  text-align: center;
  font-size: 15px;
  letter-spacing: .5px;
  font-stretch: expanded;
  padding-top: 1px;
  font-family: "232MKSD", Helvetica, Arial, sans-serif;
}
.ggc-btn-wrap {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 100px;
  padding: 5%;
}
.ggc-btn {
  box-sizing: border-box;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
