
<div class="arrow environment"></div>
<div class="arrow economy"></div>
<div class="arrow energy"></div>
<div class="panelOuter {{name}}" ng-class="player.panelClass">
  <div class="panelInner{{name}}" > <!--ng-class={true: 'extended', false: 'none'}[player.isCurrentPlayer == false]-->
    <div class="topPlane"></div>

    <div class="bottomPlane">
      <div class="colorbar"><h3>{{name | capitalize}}</h3></div>

      <div ng-show="game.phase == 'choice'">
        <div ng-show = "player.isCurrentPlayer">
          <h3 class = "tab-title text-center">Choose an Action</h3>
          <div class="ggc-btn-wrap">
            <div class="col-md-6" ng-click="dealer.playerChoice(name,$index)" ng-repeat="choice in player.hand.choices track by $index">
              <div class = "ggc-btn">
                <div ggc-icon  fill="true" frame="true" icon-id="{{choice.icon._id}}"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
<!--TODO(Ray) I (think I) got rid of introText, we'll find a better way.-->
      <div ng-show="game.phase == 'choice' && dealer.introText == true">
        <div>
          <h3 class = "tab-title text-center">_______________</h3>
          <h3 class = "tab-title text-center">You will be playing as the {{name | capitalize}} sector.</h3>
        </div>
      </div>

      <div ng-show = "game.phase == 'vote'" class="vote-block">
        <h5>{{player.hand.vote.action}}</h5>

        <div class="tab-body" ng-repeat = "t in player.hand.issue.text">
          <div ng-bind-html="t"></div>
          <br />
        </div>
      </div>


      <div ng-show="game.phase == 'vote'" class="vote-buttons">
        <div class="ggc-btn-wrap" >
          <div class="col-md-6">
            <div class="ggc-btn">
              <a ng-hide="player.hand.issue.vote == 1" class="btn-icon block {{name}}" ng-class="{'selected':player.hand.issue.vote == 0}"> NO </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ggc-btn">
              <a ng-hide="player.hand.issue.vote == 0" class="btn-icon pass {{name}}" ng-class="{'selected':player.hand.issue.vote == 1}">YES</a>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="game.phase == 'scoring' || game.phase == 'eventScoring' || game.phase == 'warn'" class="vote-buttons">
        <div  ng-show = "player.hand.issue.passed">
          <!--TODO() Make this a directive so we can change it in event Scoring-->
          <h3 class = "tab-title text-center">Action Passed</h3>
          <h1 class="text-center score {{name}}" ng-bind-html="player.hand.issue.scoreHTML"></h1>
          <div class="tab-body text-center">
            <span ng-show="(+player.hand.issue.score > 0)">Your sector improved.</span>
            <span ng-show="(+player.hand.issue.score == 0)">Your sector's score is unchanged.</span>
            <span
              ng-show="(+player.hand.issue.score < 0)">Your sector declined.</span>
          </div>
        </div>
        <div ng-hide = "player.hand.issue.passed">
          <h3 class = "tab-title text-center">Action Blocked</h3>
        </div>
      </div>

      <div ng-show="dealer.signIn == true">
          <h3 class = "tab-title text-center col-md-6">Get</h3>
          <h3 class = "tab-title text-center col-md-6">Ready !</h3>
          <div class="ggc-btn-wrap">
          </div>
      </div>

  </div>
</div>
