@charset "UTF-8";
@import (reference) "../vars.less";
.bottomPlane{
  padding-left: 2em;
  padding-right: 2em;

}
.tab-title {
  .euro;
  #textShadow.panel;
  color: saturate(@light-blue, 50);

}

.tab-body {
  font-family:"232MKUL";
  color:white;
  margin-left:10px;
  margin-right:10px;
  font-size:14px;
}

p.tab-body {
  margin-left:25px;
  margin-right:25px;
  font-size:12px;
}

.tab-img {
  height:50%;
  width:50%;
  margin-left:45px;
}

.signIn-icon {
  background: url("../../svg/buttonOL.svg") 50% 50% no-repeat;
}

.btn-icon {
  background: url("../../svg/buttonOL.svg") 50% 50% no-repeat;
  &.block {
    background-size: 110px 82px;
  }
  &.pass {
    background-size: 110px 82px;
  }
  width: 144px;
  height: 82px;
  padding: 45px;
  margin: 15px;
  background-size: 110px 82px;
  font-size:1.75em;

  //transition: 0.25s linear all;
  position: relative;
  top: 80px;

  &.attract {
    top: -20px;
  }

  &.environment {
    top:90px;
    &.attract {
      top: -20px;
    }
  }

  &.energy {
    top:90px;
    &.attract {
      top: -20px;
    }
  }


  &.selected {
    &.block {
      background: url("../../svg/buttonBLOCK.svg") 50% 50% no-repeat;
      background-size:110px 82px;

    }

    &.pass {
      background: url("../../svg/buttonPASS.svg") 50% 50% no-repeat;
      background-size: 110px 82px;

    }
  }
}
.btn-icon.ng-hide-add, .my-element.ng-hide-remove {
  /*transition: 0.25s linear all;*/

}
.btn-icon.ng-hide {
  display: inline!important;
  opacity:0.5;
  -webkit-transform: rotateX(180deg);
  color:grey;
}


.environment{
  & i,a{
    .text-environment;
  }
  & .colorbar{
    .bg-environment;
  }
}

.energy{
  & i,a{
    .text-energy;
  }
  & .colorbar{
    .bg-energy;
  }
}

.economy{
  & i,a{
    .text-economy;
  }
  & .colorbar{
    .bg-economy;
  }
}

/*.panelOuterenvironment .colorbar { background:#2fd418; }
.panelOutereconomy .colorbar { background:#fca204; }
.panelOuterenergy .colorbar { background:#4e4efc; } */



//.vote-buttons {
//  position:absolute;
//  left:15%;
//  top:47%;
//}

.tab-img-vote {
  height:30%;
  width:30%;
  margin-left:30px;
  margin-right:15px;
  float:left;
}

.panelInnerEnvironment, .panelInnerEconomy, .panelInnerEnergy {
  position:absolute;
  width:375px;
  height:350px;

  top:200px;

  -webkit-transform-style: preserve-3d;
  //transition: all .2s  ease-in-out;/**/
}
.panelInnerenvironment .extended, .panelInnereconomy .extended, .panelInnerenergy .extended {
  top:0;
}


@font-face {
  font-family: '232MKB';
  src: url('../../assets/fonts/232MKSD_winTT/232MKB__.TTF') format('truetype');
}

@font-face {
  font-family: '232MKUL';
  src: url('../../assets/fonts/232MKSD_winTT/232MKUL_.TTF') format('truetype');
}


div.topPlane,
div.bottomPlane {
  position: absolute;
  width: 375px;
  height: 450px;
  font-family: "232MKSD";
}
div.topPlane {
  background: url("../../svg/paneltop_n.svg") 50% 0 no-repeat;
  -webkit-transform: translateZ(25px);
}
div.bottomPlane {
  background: url("../../svg/panelbottom_n.svg") 50% 0 no-repeat;
  -webkit-transform: translateZ(10px);
}


div.panelInnerEnvironment,
div.panelInnerEconomy,
div.panelInnerEnergy {
  position: absolute;
  width: 375px;
  height: 350px;
  -webkit-transform-style: preserve-3d;
  transition: all 0.2s ease-in-out;
}

.panelOuterenvironment h3 { border:#c8e893 solid 1px;
  color:#c8e893;
  text-shadow: 0 0 3px #c8e893; }
.panelOutereconomy h3 { border:#fbcd6d solid 1px; color:#fbcd6d; }
.panelOuterenergy h3 { border:#a8aefa solid 1px; color:#a8aefa; }

.score{
  font-family: "Glyphicons Halflings";
  font-size: 20px;
  line-height: 0;
 /* & .up{
    #textShadow.up;
  }
  & .down{
    #textShadow.down;
  }
  & .zilch{
    #textShadow.null;
  }
  & .down{
    #textShadow.down;
  } */
  &.environment{
    .text-environment;
  }
  &.economy{
    .text-economy;
  }
  &.energy{
    .text-energy;
  }
}


.playerPanel {
  width:1920px;
  position:absolute;
  top:100px;
  margin-left:775px;
}



.arrow {

  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;

  border-top: 50px solid white;
  transition: all 1s ease-in-out;
  opacity:0;



  position:absolute;
  //background-color:red;

  &.environment {
    -webkit-transform: rotate(32deg) translateY(970px);
    margin-left:220px;

    &.bounce {
      opacity:1;
      -webkit-transform: rotate(32deg) translateY(990px);
    }
  }

  &.economy {
    -webkit-transform: rotate(0deg) translateY(940px);
    margin-left:140px;

    &.bounce {
      opacity:1;
      -webkit-transform: rotate(0deg) translateY(960px);
    }
  }

  &.energy {
    -webkit-transform: rotate(-32deg) translateY(970px);
    margin-left:62px;

    &.bounce {
      opacity:1;
      -webkit-transform: rotate(-32deg) translateY(990px);
    }
  }
}
.panelTransition{
  transition: -webkit-transform 0.25s ease-in-out;
}
.panelOuter{
  position: absolute;
  width: 375px;
  height: 300px;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;


  &.environment{
    -webkit-transform: rotate(32deg) translateY(830px);
    .panelTransition;
    position: absolute;
    &.retract{
      -webkit-transform: rotateZ(32deg) translateY(1035px);

    }

    &.fullRetract {
      -webkit-transform: rotate(32deg) translateY(1100px);

    }
    &.signIn {
      -webkit-transform: rotate(32deg) translateY(930px);

    }


    & i,a{
      .text-environment;
    }
    & .colorbar{

      .bg-environment;
      & > h3{
        .colorbarText(@environment-color);
      }
    }
    & .hint{
      -webkit-animation: environment-glow 1s infinite;
    }
  }
  &.economy{
    -webkit-transform: rotate(0deg) translateY(830px);
    .panelTransition;
    position: absolute;
    &.retract{
      -webkit-transform: rotate(0deg) translateY(1015px);
    }
    &.signIn{
      -webkit-transform: rotate(0deg) translateY(922px);

    }

    &.fullRetract {
      -webkit-transform: rotate(0deg) translateY(1100px);

    }

    & i,a{
      .text-economy;
    }
    & .colorbar{
      .bg-economy;
      & > h3{
        .colorbarText(@economy-color);
      }
    }
    & .hint{
      -webkit-animation: economy-glow 1s infinite;
    }
  }
  &.energy{
    -webkit-transform: rotate(-32deg) translateY(830px);;
    .panelTransition;
    position: absolute;
    &.retract{

      -webkit-transform: rotate(-32deg) translateY(1030px);

    }

    &.fullRetract {
      -webkit-transform: rotate(-32deg) translateY(1100px);

    }

    &.signIn{
      -webkit-transform: rotate(-32deg) translateY(930px);

    }


    & i,a{
      .text-energy;
    }
    & .colorbar{
      .bg-energy;
      & > h3{
        .colorbarText(@energy-color);
      }
    }
    & .hint{
      -webkit-animation: energy-glow 1s infinite;
    }
  }

}

.colorbar {
  //transit ion: opacity linear 1s;
 // transform: rotateX(0deg);
  .flipShow(0.25s);
  //&.ng-hide{
  //  transform: rotateX(90deg);
  //  display: block!important;
  //  opacity: 0;
  //}
  position: absolute;
  top:0;
  width: 300px;
  height: 12px;
  border-radius: 6px;
  margin: 30px auto;

  &.T1 {
    top:150px;
    left:200px;
  }
  &.T2 {
    top:375px;
    left:205px;
  }
  &.T3 {
    top:375px;
    left:273px;
  }
  &.T4 {
    top:375px;
    left:175px;
  }
  &.T5 {
    top:375px;
    left:288px;
  }
}

.colorbar h1 {
  border-radius: 18px;
  margin: -4px auto;
  top: -4px;
  background: #233;
  text-align: center;
  padding: 10px 13px 10px 13px;
  border:3px solid white;
  font-family: "232MKSD", Helvetica, Arial, sans-serif;
  position:absolute;
  -webkit-animation: energy-glow-white 1s infinite;
}



.colorbar h3 {
  width: 150px;
  height: 20px;
  border-radius: 6px;
  margin: -4px auto;
  top: -4px;
  background: #233;
  text-align: center;
  font-size: 15px;
  letter-spacing: .5px;
  font-stretch: expanded;
  padding: 0 3px 0 3px;
  font-family: "232MKSD", Helvetica, Arial, sans-serif;

}




.container .row {
  position:relative;

  h1 {
    position:absolute;
    text-align: center;
    //.flipShow(0.25s);

  }
}

div.hint-wrap{

  //padding: 0 12px 0 12px;
  margin-top: 18px;
  background:none !important;
  height: auto;
  display:-webkit-box;
}

h3.hint{
  //.ng-hide{
  //  & h3.hint{
  //    -webkit-animation: none;
  //  }
  //}
  padding: 5px 1em 5px 1em;
  width: auto;
  height: auto;
}

.bar-wrap{
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: 58px;
  max-height: 67px;
  overflow: visible;
}
.ggc-btn-wrap{
  width: 100%;
  height: 50%;
  //background-color: blue;
  position: absolute;
  left: 0;
  top: 100px;
  padding: 5%;
}

.ggc-btn{
  box-sizing: border-box;
  height:0;
  padding-bottom: 100%;
//  background:red;
  width:100%;
}

@-webkit-keyframes energy-glow-white
{
  .glowFrames(#FFFFFF)
}

@-webkit-keyframes energy-glow
{
    .glowFrames(@energy-color)
}

@-webkit-keyframes environment-glow
{
  .glowFrames(@environment-color)
}

@-webkit-keyframes economy-glow
{
  .glowFrames(@economy-color)
}
