

<div class="panelOuter{{name}}" >
  <div ng-class="{true: 'panelInnerEnvironment extended', false: 'panelInnerEnvironment'}[player.currentPlayer == true]">
    <div class="topPlane"><div class="colorbar"><h3>{{name | capitalize}}</h3></div></div>
    <div class="bottomPlane">
      <div ng-show = "player.currentPlayer">
        <h4 style="margin-top:80px; margin-left:75px;" class = "tab-title">Choose an issue to propose.</h4>
        <div class = "col-md-6" ng-click="dealer.choose($index)" ng-repeat="choice in player.hand.choices track by $index">
          <h5 class="tab-body text-right">{{choice.action | capitalize}}</h5>
          <div style="" class="tab-img" ng-bind-html="trust(choice.icon.icon)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
