

<div class="panelOuter {{name}}" ng-class="{'retract':player.docked}">
  <div class="panelInner{{name}}" > <!--ng-class={true: 'extended', false: 'none'}[player.currentPlayer == false]-->
    <div class="topPlane"></div>
    <div class="bottomPlane">
      <div class="colorbar"><h3>{{name | capitalize}}</h3></div>

      <div ng-show="game.phase == 'choice'">
        <div ng-show = "player.currentPlayer">
          <h4 class = "tab-title text-center">Choose an Action</h4>
          <div class="ggc-btn-wrap">
            <div class="col-md-6" ng-click="dealer.playerChoice(name,$index)" ng-repeat="choice in player.hand.choices track by $index">
              <div class = "ggc-btn">
                <div ggc-icon  icon-class="{{name}}" frame="true" icon-id="{{choice.icon._id}}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show = "game.phase == 'vote'" class="vote-block">
        <h5>{{player.hand.vote.action}}</h5>

        <div class="tab-body" ng-repeat = "t in player.hand.issue.text">
          <div ng-bind-html="t"></div>
          <br />
        </div>
      </div>

      <div ng-show="game.phase == 'vote'" class="vote-buttons">
        <div class="ggc-btn-wrap" >
          <div class="col-md-6">
            <div class="ggc-btn">
              <a ng-hide="player.hand.issue.vote == 1" class="btn-icon block {{name}}" ng-class="{'selected':player.hand.issue.vote == 0}">BLOCK</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ggc-btn">
              <a ng-hide="player.hand.issue.vote == 0" class="btn-icon pass {{name}}" ng-class="{'selected':player.hand.issue.vote == 1}">PASS</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
