.frame {
  fill: none;
  stroke: #049591;
  stroke-width: 4px;
  /*&.environment{
    stroke: @environment-color;
  }
  &.economy{
    stroke: @economy-color;
  }
  &.energy{
    stroke: @energy-color;
  }*/
}
.iconGroup {
  fill: #e2edeb;
  stroke: #a3c6c0;
}
.iconGroup.energy {
  fill: #4e4efc;
}
.iconGroup.environment {
  fill: #2fd418;
}
.iconGroup.economy {
  fill: #fca204;
}
.l1.energy {
  fill: #4e4efc;
}
.l1.environment {
  fill: #2fd418;
}
.l1.economy {
  fill: #fca204;
}
