.scenario-card-0 {
  height:250px;
  width: 550px;
  border-radius:20px;
  background-color:rgba(0,0,0,0.25);
  color:white;
  padding:20px;
  margin:10px;
  margin-top:315px;
  transform: perspective(1000px) rotateY(25deg);
  transform-style: preserve-3d;
  float:left;
  position:relative;
  margin-left:00px;
  z-index:100;
}

.scenario-card-1 {
  height:250px;
  width: 550px;
  border-radius:20px;
  background-color:rgba(0,0,0,0.25);
  color:white;
  padding:20px;
  margin:10px;
  margin-top:315px;
  transform: perspective(1000px) rotateY(-25deg);
  transform-style: preserve-3d;
  float:left;
  position:relative;
  margin-left:-70px;
  z-index:100;
}

.scenario-card h3 {
  font-family: '232MKB';
}

.scenario-card p {
  font-family: '232MKUL';
}

.scenario-icon {
  width:30%;
  height:auto;
  margin-left:10%;
}

#box-wrap-inner {
  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@charset "UTF-8";

@font-face {
  font-family: '232MKB';
  src: url('../../assets/fonts/232MKSD_winTT/232MKB__.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: '232MKUL';
  src: url('../../assets/fonts/232MKSD_winTT/232MKUL_.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
  width:1920px;
  height:1080px;
  margin:0;
}
div#main {
  position:absolute !important;
  top:0px;
  width:1920px;
  height:1080px;
  background:url("../../bmp/gulfbrown.jpg") no-repeat;
}
div#perspective_plane_container {
  position:absolute;
  -webkit-perspective: 642;
  width:1920px;
  height:1080px;
  top:0px;
}
div#perspective_plane {
  position:absolute;
  /* -webkit-animation: turnin 15s;
    animation: turnin 5s;*/
  -webkit-transform: rotateX(15deg);
  -webkit-transform-style: preserve-3d;
  z-index:0;
}

@-webkit-keyframes turnin {
  from { -webkit-transform: rotateX(0deg); }
  to { -webkit-transform: rotateX(70deg); }
}


div.topPlane, div.bottomPlane {
  position:absolute;
  width:375px;
  height:450px;
  /*opacity:.2;*/
}
div.topPlane {
  /*border:white solid 1px;*/
  background:url("../../svg/paneltop_n.svg") 50% 0%  no-repeat;
  -webkit-transform: translateZ(25px); /* Chrome, Safari, Opera */
}

div.bottomPlane {
  /*border:blue solid 1px;*/
  background:url("../../svg/panelbottom_n.svg") 50% 0%    no-repeat;
  -webkit-transform: translateZ(10px); /* Chrome, Safari, Opera */
}

div.panelOuterenvironment, div.panelOutereconomy, div.panelOuterenergy {
  position:absolute;
  width:375px;
  height:300px;
  overflow:hidden;
  -webkit-transform-style: preserve-3d;
  z-index:10;
  overflow:hidden;
  transition: all .2s  ease-in-out;

}
div.panelInnerEnvironment, div.panelInnerEconomy, div.panelInnerEnergy {
  position:absolute;
  width:375px;
  height:350px;
  -webkit-transform-style: preserve-3d;
  transition: all .2s  ease-in-out;
}

.panelOuterenvironment.retract {
  left: 300px;
  top: 810px;
  -webkit-transform: rotateZ(29deg);
  transition: all .2s  ease-in-out;
}
div.panelOutereconomy {
  left:775px;
  /*top:800px;*/
  top:825px;
  transition: all .2s  ease-in-out;
}
.panelOutereconomy.retract {
  left:775px;
  /*top:800px;*/
  top:930px;
  transition: all .2s  ease-in-out;
}

.panelOuterenergy.retract {
  right: 310px;
  top: 815px;
  -webkit-transform: rotateZ(-29deg);
  transition: all .2s  ease-in-out;
}

div.panelOuterenvironment {
  left: 400px;
  top: 640px;
  -webkit-transform: rotateZ(29deg);
  transition: all .2s  ease-in-out;
}
div.panelOutereconomy {
  left: 775px;
  top: 733px;
  transition: all .2s  ease-in-out;
}
div.panelOuterenergy {
  right: 395px;
  top: 635px;
  -webkit-transform: rotateZ(-29deg);
  transition: all .2s  ease-in-out;
}

.colorbar {
  position:relative;
  width:300px;
  height:12px;
  border-radius:6px;
  margin:30px auto;
}

.colorbar h3 {
  position: relative;
  width: 150px;
  height: 20px;
  border-radius: 6px;
  margin: 0 auto;
  top: -4px;
  background: #233;
  text-align: center;
  font-size: 15px;
  letter-spacing:.5px;
  font-stretch: expanded;
  padding-top:1px;
  font-family: "232MKSD", Helvetica, Arial, sans-serif;
}

.hexGrid {
  opacity:0.45;
}



div#mapA, div#mapB, div#borderscrim {
  width:1920px;
  height:1080px;
  position:absolute;
}
div#mapA {
  background-image: url('../../bmp/currentpop.png');
}
div#borderscrim {
  background-image: url('../../bmp/borderandscrim.png');
  z-index:8;
  pointer-events:none;
}

score-board {
  z-index: 20;
  position:absolute;
}
