@charset "UTF-8";
/*TODO(Ryan) explain these changes, make flex-box-y mixin*/
#box-wrap-inner {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -webkit-box-pack: center;
  -webkit-align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  z-index: 20;
}
.scenario-header {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), -2px 4px 4px black;
}
.invisible {
  opacity: 0;
}
.scenarioWrap {
  overflow: hidden;
  padding: 0 20px 0 30px;
  margin: 10px;
  margin-left: 0;
  -webkit-clip-path: url(#cliphex);
  background-color: #335e5c;
  width: 100%;
  height: 100%;
}
.scenario-card {
  -webkit-transition: 1s all;
  -webkit-flex: auto;
  height: 250px;
  width: 550px;
  color: white;
  transform-style: preserve-3d;
}
.scenario-card.invisible {
  opacity: 0;
}
.scenario-card .mainBar {
  position: relative;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 5px 25% 5px 30%;
  margin-left: -25%;
  width: 150%;
  line-height: 1.2em;
  color: white;
}
.scenario-card .mainBar.energy {
  background-color: #6060ea;
}
.scenario-card .mainBar.economy {
  background-color: #e39b1d;
}
.scenario-card .mainBar.environment {
  background-color: #41bc30;
}
.city {
  position: absolute;
  font-family: "Eurostile-Condensed";
  color: white;
  font-size: 14px;
  padding: .4em .4em;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.84);
}
.city:before {
  position: relative;
  top: -10px;
  content: "\25F8";
  margin-top: 20px;
}
.city.leftlabel:before {
  content: "";
}
.city.leftlabel:after {
  position: relative;
  top: -10px;
  content: "\25F9";
  margin-top: 20px;
}
#tampa.city {
  /*background:url(../../svg/citycornerR.svg) 64px -10px /.9em no-repeat; */
}
img#highways {
  position: absolute;
  width: 70.5%;
  top: 2.5%;
  left: 18.35%;
}
.scenario-card:nth-of-type(1) {
  transform: perspective(1000px) rotateY(25deg) translate(50px);
  /*use translate or margin, not both*/
}
.scenario-card:nth-of-type(1).clearTransform {
  transform: perspective(0) rotateY(0) translate(0);
}
.scenario-card:nth-of-type(1) .mainBar {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), -2px 2px 2px black;
  -webkit-box-shadow: -1px 1px 4px rgba(255, 255, 255, 0.2), 1px -1px 4px #223333;
}
.scenario-card:nth-of-type(1).invisible {
  transform: perspective(1000px) rotateY(-90deg) translate(-550px);
}
.scenario-card:nth-of-type(1).chosen {
  transform: perspective(1000px) rotateY(0deg) translate(275px);
}
.scenario-card:nth-of-type(2) {
  transform: perspective(1000px) rotateY(-25deg) translate(-50px);
}
.scenario-card:nth-of-type(2) .mainBar {
  text-shadow: 0 0 4px #ffffff, 2px 2px 2px black;
  -webkit-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2), -1px -1px 4px #223333;
}
.scenario-card:nth-of-type(2).invisible {
  transform: perspective(1000px) rotateY(90deg) translate(550px);
}
.scenario-card:nth-of-type(2).chosen {
  transform: perspective(1000px) rotateY(0deg) translate(-275px);
}
@font-face {
  font-family: '232MKB';
  src: url('../../assets/fonts/232MKSD_winTT/232MKB__.TTF') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: '232MKUL';
  src: url('../../assets/fonts/232MKSD_winTT/232MKUL_.TTF') format('truetype');
  
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  /*src: url('../fonts/232MKSD_winTT/232MKM__.TTF') format('truetype');  Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
  width: 1920px;
  height: 1080px;
  margin: 0;
}
.main-title {
  height: 25px;
}
div#ui-main {
  position: relative;
  height: 33%;
  top: 29%;
}
div#ui-main .title {
  line-height: 0;
  font-size: 4em;
  font-variant: small-caps;
  margin-left: -35px;
  color: #e2edeb;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), -2px 4px 4px black;
  -webkit-transition: 1s all;
  opacity: 1;
  height: 25px;
  transition: .5s linear all;
}
div#ui-main .title.ng-enter {
  opacity: 1;
  height: 25px;
}
div#ui-main .title.ng-hide {
  opacity: 0;
  height: 0;
}
div#main {
  position: absolute !important;
  top: 0px;
  width: 1920px;
  height: 1080px;
  background: url("../../bmp/gulfbrown.jpg") no-repeat;
  background-size: 1920px 1200px;
  overflow: hidden;
}
div#perspective_plane_container {
  position: absolute;
  -webkit-perspective: 642;
  width: 1920px;
  height: 1080px;
  top: 0px;
}
div#perspective_plane {
  position: absolute;
  /* -webkit-animation: turnin 15s;
    animation: turnin 5s;*/
  -webkit-transform: rotateX(15deg);
  -webkit-transform-style: preserve-3d;
  z-index: 0;
}
@-webkit-keyframes turnin {
  from {
    -webkit-transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(70deg);
  }
}
.hexGrid {
  opacity: 0.1;
  z-index: -2;
}
.full-height {
  height: 100%;
}
.main-row {
  height: 65%;
  display: flex;
  align-items: center;
}
#mapA,
#mapB,
#mapC,
#foulGulf,
#landmarks,
#borderscrim {
  width: 1920px;
  height: 1080px;
  position: absolute;
}
#foulGulf {
  /*background: -webkit-linear-gradient(top, #2F2727, #1a82f7);*/
  background: url(../bmp/gulfbrown.jpg) 50% 0% no-repeat;
}
#mapA {
  background: url(../../bmp/currentpop.png) 50% 0% no-repeat;
}
#mapB {
  background: url(../../bmp/midpop.png) 50% 0% no-repeat;
}
#mapC {
  background: url(../../bmp/overpop.png) 50% 0% no-repeat;
}
div#borderscrim {
  background-image: url('../../bmp/borderandscrim_wrn.png');
  z-index: 8;
  pointer-events: none;
  top: 0;
}
score-board {
  z-index: 20;
  position: absolute;
  top: 0;
}
.ggc-video-main {
  margin-top: -17%;
}
.ggc-video-prologue {
  margin-top: -22%;
}
.stamp {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), 0px 2px 2px black;
  position: absolute;
  top: 30%;
  transform: rotate(30deg);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.2);
}
.stamp.left {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), -2px 2px 2px black;
  -webkit-box-shadow: -1px 1px 4px rgba(255, 255, 255, 0.2), 1px -1px 4px #223333;
}
.stamp.right {
  text-shadow: 0 0 4px #ffffff, 2px 2px 2px black;
  -webkit-box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2), -1px -1px 4px #223333;
}
.stamp.blocked {
  left: 37%;
  border: 3px solid red;
}
.stamp.blocked h1 {
  font-size: 6em;
  color: red;
}
.stamp.passed {
  left: 39%;
  border: 3px solid green;
}
.stamp.passed h1 {
  font-size: 6em;
  color: green;
}
.dim {
  opacity: 0.5;
}
