<!-- >The MAIN (Center) Cards Go Here<-->


<div class="row relative text-center main-title" >
  <h1  class = "title" ng-show="game.phase == 'choice'">
     How to Play
  </h1>
  <!--h1  class = "title">
    The Challenge
  </h1-->
</div>

<div class="full-width"> <!-- Center -->

  <div class = "relative above-cards">
    <div class="tutorialText T1" ng-if="frames[2].active"><h1 class="text-center">Each Player represents a sector.</h1></div>
  </div>

  <div class = "relative below-cards"> <!-- Bottom Center -->
    <div class="tutorialText text-center T2" ng-if="frames[8].active"><h1>On your turn, choose an action</br>to benefit your sector.</h1></div>
    <div class="tutorialText text-center T3" ng-if="frames[16].active"><h1>Everyone votes.</br>The majority decides.</h1></div>
    <div class="tutorialText text-center T4" ng-if="frames[22].active"><h1>Environment, Economy and Energy</br>must cooperate and restore balance.</h1></div>
    <div class="tutorialText text-center T5"  ng-if="frames[26].active"><h1 class="text-center">Get ready to play!</h1></div>
  </div>

</div>




